*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding: 24px;
}



.studio-logo {
  color: #2e2f42;
}

.studio-logo-bottom {
  color: #f4f4fd;
}

.frontpage-section {
  
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.studio-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}



.adress-bar {
  font-style: normal;
  margin-left: auto;
}

.adress-item-set {
  display: flex;
  gap: 40px;
}

.contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  padding: 24px;
}

.contact:hover {
  color: #404bbf;
}

.contact:focus {
  color: #404bbf;
}

.header-logo {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

.prf-section {
  padding: 120px 0;
}

.pref-head {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.pref-head-minor {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.pref-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



.team-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.list-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.portfolios-links {
  text-align: center;
}

.profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.profession-app {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}


.team-list {
  padding: 32px 0;
}

.app-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
  margin-bottom: 8px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.studio-logo-footer {
  font-family: "Raleway" sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #f4f4fd;
}

.footer-text {
  
  flex-wrap: wrap;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.portfolio-item-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.nav-item-set {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-item {
 
}

.nav-item:last-child {
  margin-right: 0;
}

.team-section {
  padding: 120px 0;
  background-color: #F4F4FD;
}

.team-item-set {
  display: flex;
  gap: 24px;
  p
}

.pref-item-set {
  display: flex;
  gap: 24px;
}

.pref-item {
  width: calc((100% - 72px) / 4);
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  
}

.app-list-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.pref-section {
  padding: 120px 0;
}
